body, .col {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    height: 100vh;
}

.col {
    justify-content: center;
    font-size: 10rem;
}

.game {
    display: grid;
    height: 60vh;
    width: 50vw;
    background-color: black;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1rem 1rem;
}

header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;    
    background-color: aqua;
    margin-bottom: 4rem;
    box-shadow: 0 0 0.5rem hsl(80, 5%, 60%)
}

header > div {
    margin: 1rem;
}

header .left img {
    width: 4rem;
    height: auto;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.right button {
    padding: 0.5rem 1.2rem;    
    border-radius: 2rem;
    border: 0.25rem solid white;
    background: none;
    font-size: 1.2rem;
    box-shadow: 2px 2px 4px gray;
    cursor: pointer;
}

.right button:hover {
    transform: translateY(-0.25rem) scale(1.1);
}