body, .col {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.col {
    justify-content: center;
    font-size: 10rem;
}

.game {
    display: none;
    width: 80vh;
    flex: 1;
    background-color: black;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1rem 1rem;
    border: 1rem solid gray;
}

main {
    background-color: hsl(0,0%, 10%);
    padding: 1rem 0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .menu {
    width: 40rem;
    height: 40rem;
    border: 2px solid hsl(60, 100%, 40%);
    border-radius: 2rem;
    box-shadow: 0 0 3rem hsl(60, 100%, 30%);
    display: grid;
    grid-template-areas:    'players'
                            'start-game';
}

.player {
    width: 15rem;
    height: 15rem;

}

.players {
    margin-top: 2rem;
    grid-area: players;
    display: flex;
    justify-content: space-around;
}

#start {
    width: 34rem;
    height: 3rem;
    margin: 18rem auto;
    grid-area: start-game;
    font-size: 2.2rem;
    background: none;
    font-weight: 9000;
    color: white;
    text-shadow: 4px 4px 1rem white;
}

#start, .player {
    border: 2px solid hsl(60, 100%, 60%);
    box-shadow: 0 0 3rem hsl(60, 100%, 50%);
}


body > * {
    width: inherit;
}

header {
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: center;    
    color: hsl(0,0%,100%);
    font-weight: 900;
    text-shadow: 4px 4px 8px yellow;
    background-color: hsl(0,0%,25%);
    box-shadow: 0 0 0.5rem hsl(0, 0%, 30%);
    box-sizing: border-box;
}

header > div {
    margin: 1rem;
}

header .left img {
    width: 4rem;
    height: auto;
}

.left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 5rem;
    background-color: rgba(0,0,255,0.1);
    display: none;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    gap: 1rem;
}